.startSelection {
  background-color: #673ab7;
  color: #f6f6f6;
  border-radius: 2px 0 0 2px;
}

.inSelection {
  background-color: #673ab7;
  color: #f6f6f6;
}

.endSelection {
  background-color: #673ab7;
  color: #f6f6f6;
  border-radius: 0 2px 2px 0;
}
